body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#svg-container {
    width: 900px;
    height: 400px;
    display: flex;
}

#svg-viewer {
    width: 400px;
    height: 100px;
}
